.h3Details {
    position:absolute;
    margin-left:0.5%;
    font-size:17px;
    color: rgb(237, 136, 168);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}